[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/physx"]
	path = third_party/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
